/*Codificado por Melissa Turbano*/
.ajuda {
    margin: auto;
    height: 100px;
    margin-top: 100px;   
}

#ajuda_titulo {
    margin-left: 25%;
    font-size: 200%;
}

#ajuda_linha {
    height: 2px;
    width: 60%;
    float: left;
    margin-top: 0px;
    background-color: rgb(0, 0, 0);
}

#ajuda_sublinha {
    height: 2px;
    width: 43%;
    float: left;
    margin-top: 0px;
    margin-left: 9%;
}

/*Modelo dos botões de redirecionamento do usuário*/
.ajuda_btn {    
    border: none;
    text-align: center;
    font-size: 130%;
    cursor: pointer;
    margin-left: 9%;
    margin-top: 30px;
    width: 43%;
    height: 40%;
    text-transform: uppercase;   
    background-color: rgb(236, 236, 236);
    font-weight: bold;
}

.ajuda_btn span {
    position: relative;
    transition: 0.5s;
}

.ajuda_btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -7%;
    transition: 0.5s;
}

.ajuda_btn:hover span {
    padding-right: 7%;
}

.ajuda_btn:hover span:after {
    opacity: 1;
    right: 0;
}

/*Botão de contato*/
#bnt_contato {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: white;
    margin-left: 19%;
    margin-bottom:3%;
    cursor: pointer;
}

#img_contato {
    border-radius: 18%;
    width: 70%;
    height: 65%;    
}

#bnt_contato:hover {
    background-color: #fdf8cf;
    border: 2.5px solid #b7ba5a;
}

/*Botão de enviar*/
#bnt_enviar {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: white;
    margin-left: 3%;
    margin-bottom:3%;
    cursor: pointer;
}

#img_enviar {
    border-radius: 18%;
    width: 70%;
    height: 65%;    
}

#bnt_enviar:hover {
    background-color: #e2fcbb;
    border: 2.5px solid #87a061;
}