/* ÁREA DO CANDIDATO - Isabella Valerio */

/* SECTION */

.areaGeral {
    margin-top: 8%;
    margin-left: 0;
    height: 20%;
    width: 40%;
    line-height: 1.2;
}

.conteudoGeral {
    margin-top: 15%;
    margin-left: 0;
    margin-bottom: 30%;
    height: 20%;
    width: 40%;
    line-height: 1.2;
}

.indice {
    margin-top: 7%;
    margin-left: 0;
    align-items: center;
    width: 120%;
}

#procedimentos, #documentacao, #orientacoes, #posse, #contatos, #duvidas {
    margin-left: 0;
    margin-bottom: 10%;
    align-items: center;
    width: 120%;
}

/* SECTION - TÍTULOS */

#titulo_intro {
    margin-left: 45%;
    font-size: 170%;
    text-transform: uppercase;
}

#linha_titulo {
    height: 2px;
    width: 150%;
    float: left;
    margin-top: 0px;
    background-color: #000000;
}

/* Subtítulos */
#subtitulo {
    margin-left: 9%;
    font-size: 140%;
    text-transform: capitalize;
    font-weight: 700;
}

#linha_subtitulo {
    height: 1px;
    width: 107%;
    float: left;
    margin-top: 0;
}

/* SECTION - CAIXA */

.caixa {
    height: auto;
    width: 145%;
    background-color: #ececec;
    border: 1px solid #aeaeae;
    margin-top: 8%;
    margin-left: 7%;
}

.caixa_ind {
    height: auto;
    width: auto;
    background-color: #e0eef5;
    border: 1px solid #c2d7e0;
    box-shadow: 10px 10px 16px 0 #14141433;
    border-radius: 40px;
    margin-left: 35%;
}

.caixa_subt {
    height: auto;
    width: 100%;
    background-color: #ececec;
    border: 1px solid #aeaeae;
    margin-top: 6%;
    margin-left: 7%;
}

.caixa_atencao {
    height: auto;
    width: 100%;
    background-color: #ffa4a4;
    border: 1px solid #ff2a2a;
    margin-top: 6%;
    margin-left: 7%;
}

.caixa_info {
    height: auto;
    width: 100%;
    background-color: #feffa6;
    border: 1px solid #f7fa63;
    margin-top: 6%;
    margin-left: 7%;
}

#caixa_bloco {
    text-transform: none;
    text-align: justify;
    margin-bottom: 0;
    padding: 4%;
}

#caixa_texto {
    margin-bottom: 2%;
    text-indent: 1.5em;
}

/* Tópicos */
#topico_quadrado_intro {
    list-style-type: square;
    margin-left: 3%;
}

#topico_quadrado {
    list-style-type: square;
    margin-left: 3%;
}

#topico_quadrado a {
    font-style: italic;
    color: #000000;
}

#topico_numeral {
    list-style: decimal-leading-zero;
    margin-left: 12%;
}

#topico_numeral a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#topico_numeral a:hover {
    font-size: 17px;
    text-shadow: 1.5px 1.5px #1414141a;
}

/* BOTÕES */

/*Botão de contato*/
#bnt_contato {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: #ffffff;
    margin-left: 71%;
    margin-bottom:3%;
    cursor: pointer;
}

#img_contato {
    border-radius: 18%;
    width: 70%;
    height: 65%;
}

#bnt_contato:hover {
    background-color: #fdf8cf;
    border: 2.5px solid #b7ba5a;
}

/*Botão de enviar*/
#bnt_enviar {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: #ffffff;
    margin-left: 3%;
    margin-bottom: 3%;
    cursor: pointer;
}

#img_enviar {
    border-radius: 18%;
    width: 70%;
    height: 65%;
}

#bnt_enviar:hover {
    background-color: #e2fcbb;
    border: 2.5px solid #87a061;
}
