/* SECTION FAQ -- Melissa Turbano */
.faq {
    margin: auto;
    height: 100px;   
    margin-top: 100px;
}

#faq_titulo {
    margin-left: 5%;
    /*font-size: 40px;*/
    font-size: 200%;
    margin-left: 10%;
    
}

#faq_linha {
    height: 2px;
    width: 55%;
    float: left;
    margin-top: 0px;
    background-color: rgb(45, 45, 45);
}

#faq_subtitulo {
    margin-left: 7%;
    /*font-size: 25px;*/
    font-size: 150%;
    margin-top: 30px;
    
}

#faq_sublinha {
    height: 2px;
    width: 50%;
    float: left;
    margin-top: 0px;
    margin-left: 5%;
}

#questao {
    
    height: 150%;
    width: 50%;
    font-weight: lighter;
    background-color: #e6e6e6;
    border: 1px solid #717171;
    font-size: 100%;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 5%;

    
}

#questao > p {
    margin: 2%;
}

#contato {
    border-radius: 15px;
    /*height: 50px;*/
    height: 50%;
    width: 50%;
    font-weight: lighter;
    background-color: rgb(255 255 122 / 59%);
    border: 3px solid rgb(255 255 0);
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 5%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



