/* Codificado por Nicole Miguel */

.pesquisa {
    margin: auto;
    height: 100px;   
    margin-top: 100px;
    align-items: center;
    margin-top: 5%;
}

.pesquisa h1, h2 {
    text-transform: uppercase;
    margin-left: 20%;
}

.pesquisa h2 {
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 15%;
    margin-bottom: 2%;
}

#linha_pesquisa {
    height: 2px;
    width: 55%;
    float: left;
    margin-bottom: 2%;
    background-color: rgb(105, 155, 179);
}

#resultados {
    text-align: center;
    width: 50%;
    background-color: #ececec;
    box-shadow: 5px 5px 5px 5px #cfcfcf;
    border: 1px solid #aeaeae;
    margin: 2%;
    padding: 1em;
    font-size: 18px;
}

#resultados p {
    margin: 2%;
}

#resultados a {
    color:#000000;
} 




