/* Codificado por Nicole Miguel */

.quadroNomeacoes {
    height: 100px;   
    margin-top: 100px;
    align-items: center;
    margin-top: 100px;
}

.quadroNomeacoes h1 {
    text-transform: uppercase;
    margin-left: 20%;
    font-size: 170%;
}

#linha_quadroNomeacoes {
    height: 2px;
    width: 55%;
    float: left;
    background-color: #000000;
}

.formulario {
    height: 50%;
    width: 50%;
    margin: 1em;
}

.selects, .candidato, .consulta{
    margin: 5%;
    padding: 1em;
    border-radius: 10px;
    justify-content: space-between;
}

.candidato {
    margin-top: 15%;
}

.consulta {
    margin-top: 10%;
}

#filtrar_candidatos {
    display: block;
    float: left;
}

#nome {
    margin-top: 5%;
    margin-left: 50%;
}

#nome_id {
    width: 80%;
}

#lab_titulo {
    font-size: 20px;
    font-weight: 600;
}

#concurso, #cargo, #uf {
    margin-left: 3em;
    float: left;
    display: block;
}

#cargo_id {
    width: 300px;
}

select, #nome_id {
    height: 2.5em;
    border: 1px solid #6e6767;
    border-radius: 5px;
    background-color: #e2e0e0;
}

::placeholder {
    font-size: 1.2em;
    text-align: center;
}

#btn_td, #btn_ac, #btn_cd, #btn_cn, #btn_todos, #btn_aprovados, #btn_nomeados, #voltar_quadro, #pesquisar_quadro {
    border: 1.5px solid #6e6767;
    background-color: #e2e0e0;
    justify-content:space-between;
    padding: 1em;
    box-shadow: 3px 3px #062927af;
}

#btn_td, #btn_ac, #btn_cd, #btn_cn {
    margin-top: 5%;
    width: 80px;
}

#btn_todos, #btn_aprovados, #btn_nomeados {
    margin: 3%;
    width: 150px;
    border-radius: 10px;
}

#voltar_quadro, #pesquisar_quadro{
    margin-top: 5%;
    margin-left: 5%;
    width: 85px;
    border-radius: 5px;
}

#btn_final {
    margin-left: 35%;
}

#btn_td:hover, #btn_ac:hover, #btn_cd:hover, #btn_cn:hover, #btn_todos:hover, #btn_aprovados:hover, #btn_nomeados:hover {
    border: 1.5px solid #6e6767;
    background-color: #6e6767;
    color: #e2e0e0;
}

#pesquisar_quadro:hover {
    background-color: #9adb9a;
}

#voltar_quadro:hover {
    background-color: #f79c9c;
}

/*Botão de contato*/
#bnt_contato {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: #ffffff;
    margin-left: 55%;
    margin-bottom: 3%;
    cursor: pointer;
}

#img_contato {
    border-radius: 18%;
    width: 70%;
    height: 65%;
}

#bnt_contato:hover {
    background-color: #fdf8cf;
    border: 2.5px solid #b7ba5a;
}

