/* Recodificado e unificado por Isabella Valerio */

/*-------------------- ESTRUTURAS GERAIS --------------------*/

/* GERAL */

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER - Nicole Miguel */

.acima {
    display: flex;
}

/* Estilizando a fonte, cor de fundo e definindo posição fixa do header (cabeçalho) */
header {
    background-color: #012229;
    color: #ffffff;
    position: fixed !important;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 66px;
}


/* Logo */

.logo {
    align-items: center;
    display: flex;
    float: left;
}

/* Configuração */
#logo_letra {
    margin-left: 15px;
    font-size: large;
}

#logo_img {
    width: 42px;
    height: 42px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

#logo_linha {
    margin-top: 22px;
    width: 42px;
    margin-left: -43px;
    border: 2px solid #ffffff;
}

#logo_titulo {
    margin-left: 20px;
    font-size: x-large;
}


/* Botões */

.botoes {
    margin: 15px 20px 0 18px;
    display: flex;
    float: right;
}

#help_bt, #faq_bt {
    cursor: pointer;
    border: none;
    background-color: #012229;
    margin-left: 15px;
}

#help_img {
    width: 28px;
    height: 28px;
    margin-top: 5px;
}

#faq_img {
    width: 68px;
    height: 30px;
    margin-top: 2px;
}


/* Pesquisa */

#lupa {
    color: #000000;
    font-style: italic;
    font-size: 12px;
    border: none;
    background-color: #717171;
    border: 1px solid #d7faff;
    border-radius: 10px;
    width: 198px;
    height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-top: 3px;
    padding: 0;
}

#lupa_img {
    float: left;
    width: 45px;
    height: 40px;
    margin-left: 15px;
}

#ok_bt {
    background-color: #508a97;
    border: #508a97;
    color: #000000;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

#ok_bt:hover {
    background: #9fc7cc;
    color: #000000;
}


/* MENU - Melissa Turbano */

.menu {
    background-color: #a5a4a4;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    width: 100%;
    margin-top: 66px;
    height: 28px;
    align-items: center;
    text-align: center;
    line-height: 28px;
    float: left;
    position: fixed;
}

.menu > ul > li {
    margin-left: 60px;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-size: larger;
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.menu ul {
    padding: 0px;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a:hover {
    text-decoration: none;
    display: block;
    color: #000000;
    text-shadow: #000000 0.05em 0.05em 0.8em;
}

.menu ul li ul li a:hover {
    text-shadow: none;
    background-color: #e6e6e6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.menu ul ul {
    display: none;
    background-color: #508a97;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.menu ul li:hover > ul {
    display: block;
    position: fixed;
}

.menu ul ul li {
    float: none;
}

.menu ul ul li a {
    color: #ffffff;
    font-weight: normal;
    padding: 0 30px 0 15px;
}

#subMenu {
    display: flex;
    flex-direction: column;
}


/* BOTÕES ASIDE - Melissa Turbano */

/* Botão de contato */

#bt_contato {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: #ffffff;
    margin-left: 56%;
    margin-bottom: 2%;
    cursor: pointer;
}

#img_contato {
    border-radius: 18%;
    width: 70%;
    height: 65%;    
}

#bt_contato:hover {
    background-color: #fdf8cf;
    border: 2.5px solid #b7ba5a;
}


/* Botão de compartilhar */

#bt_compartilhar {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: #ffffff;
    margin-left: 3%;
    margin-bottom: 3%;
    cursor: pointer;
}

#img_compartilhar {
    border-radius: 18%;
    width: 70%;
    height: 65%;
}

#bt_compartilhar:hover {
    background-color: #e2fcbb;
    border: 2.5px solid #87a061;
}


/* ASIDE COM MENU - Melissa Turbano */

.aside-menu {
    display: flex;
    margin-left: 65%;
}

.aside-menu ul li {
    /*width: 350px;*/
    width: 100%;
    float: none;
}
        
.aside-menu > ul {
    list-style: none;	
    position: static;
    margin-left: 50px;
}

/* Config de dentro do menu */
.aside-menu ul li {
    float: none;
    align-items: center;
    /*font-size: 18px;*/
}

.aside-menu a {
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: #57919c;
    text-align: center;
    align-items: center;
    color: #fff;    
}

.aside-menu ul ul {
    list-style: none;
    position: absolute;
    visibility: hidden;
}


/* Menu sob o mouse */
.aside-menu ul li:hover ul {
    visibility: visible;
}
        
#aside-menu_titulo:hover {
    background-color: #127e96;
}


/* Submenu */

.aside-menu ul ul li {
    float: none;
    border-bottom: solid 1px #ffffff;
    font-weight: 500px;
    width: 100%;
}

.aside-menu ul ul li a {
    background-color: #bdbaba;
    height: 6%;
    text-align: left;
    text-indent: 2px;
    text-align: center;    
    color: rgb(0, 0, 0)
}
  
.aside-menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
}

.aside-menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    transition: all .4s;
} 

/*Submenu sob o mouse*/
.aside-menu ul li ul li a:hover {
    background-color: #999999;
}


/* ASIDE - Melissa Turbano */

.aside {
    margin-left: 65%;
    margin-top: 30px;
    display: flex;
}

.aside ul li {
   /*width: 350px;*/
    float: none;
    width: 125%;
}
        
.aside > ul {
    list-style: none;	
    position: static;
    margin-left: 50px;
}

.aside a {
    display: block;
    text-decoration: none;
    background-color: #3f6972;
    text-align: center;
    align-items: center;
    color: #ffffff;
    line-height: 2.0;
}


/* Seta animação do aside */

.detalhe span {
    position: relative;
    transition: 0.5s;
}
.detalhe span:after {
    content: "\21D2";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 100%;
    transition: 0.5s;
    margin-top: -3%;
}
.detalhe:hover span {
    padding-right: 5%;
}
.detalhe:hover span:after {
    opacity: 1;
    right: 0;
}

/* Aside sob o mouse */

.aside ul li:hover {
    visibility: visible;
}
.aside a:hover {
    background-color: #2c4d55;
}


/* Config de dentro do aside */

.aside ul li{
    float: none;
    align-items: center;
}


/* FOOTER - Nicole Miguel */

footer {
    text-align: center;
    color: #d4d4d4;
    background-color: #012229;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    line-height: 20px;
    font-size: 10px; 
}

.footer_linha {
    background-image: linear-gradient(to right, transparent, #9e9e9e, transparent); 
    border: 0;
    height: 1px;
    margin-right: 5%;
    margin-left: 5%;
}


/*-------------------- TAGS GERAIS - Isabella Valerio --------------------*/


/* TÍTULOS E LINHAS */

/* Principais */

#titulo {
    margin-top: 2%; 
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#titulo_linha {
    height: 0.13em;
    width: 100%;
    float: left;
    margin-top: 0;
    background-color: #000000;
}


/* Secundários */

#subtitulo {
    margin-top: 3%; 
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

#linha_subtitulo {
    height: 0.12em;
    width: 100%;
    float: left;
    margin-top: 0;
}


/* TÓPICOS */

/* Texto */

#texto_topico {
    margin-left: 3.5%;
    margin-bottom: 0.1%;
}


/* Quadrado */

#topico_quadrado {
    list-style-type: square;
    margin-top: 1%;
    margin-left: 6%;
    line-height: 1.2;
}

#topico_quadrado li {
    margin-bottom: 8px;
    text-indent: 0.8em;
    font-size: 17.4px;
}
#topico_quadrado li:last-child {
    margin-bottom: 12px;
}


/* Numeral */

#topico_numeral {
    list-style: decimal-leading-zero;
    margin-left: 5%;
}

#topico_numeral a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#topico_numeral a:hover {
    font-size: 17px;
    text-shadow: 1.5px 1.5px #1414141a;
}


/* Letrinha */
#topico_traco {
    list-style-type: "-";
    margin-top: 1%;
    margin-left: 6%;
    line-height: 0.9;
}


/* CONTAINERS */

div p {
    padding: 0.5%;
    font-size: 17.4px;
}

/* Introdução */

.introducao {
    margin-top: 9%;
    margin-left: 0;
    width: 60%;
    line-height: 1.2;
}

/* Conteúdo */

.conteudo {
    margin-top: 3%;
    margin-left: 0;
    width: 60%;
    line-height: 1.2;
    height: 0%;
}

/* Caixas de texto */
.caixa {
    height: auto;
    width: 97%;
    background-color: #eff5f7;
    border: 1px solid #d1e4e8;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 5%;
}

#caixa_bloco {
    text-transform: none;
    text-align: justify;
    margin-bottom: 0;
    padding: 2.2%;
    text-indent: 1.5em;
}

#caixa_indice {
    height: auto;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 8%;
    background-color: #ffffbe;
    border: 1px solid #ece7a7;
    box-shadow: 3px 3px 12px 0 #5e5e5e66;
    border-radius: 30px;
    padding: 30px;
    text-transform: none;
    text-align: justify;
    text-indent: 0.9em;
    line-height: 1.3em;
}
#caixa_indice ol {
    margin-left: 50px;
}

/* Caixa de tabelas */
/* .alinhamento_caixas {
    float: left;
    margin-bottom: 7%;
}

#caixa_tabela {
    height: auto;
    width: 80%;
    background-color: #fffea7;
    border: 2px solid #eeed9d;
    box-shadow: 6px 6px 12px 0 #0c0c0c1a;
    border-radius: 20px;
    margin-top: 13%;
    margin-left: 30%;
}
#caixa_tabela a {
    text-decoration: none;
}
#caixa_tabela a p {
    text-align: center;
    padding: 8%;
} */

/* Parágrafo de citação */
#citacao_paragrafo {
    text-transform: none;
    text-align: justify;
    margin-bottom: 8px;
    margin-left: 7%;
    margin-top: 2%;
    text-indent: 0;
}

#citacao_autor {
    text-transform: none;
    text-align: end;
    margin-bottom: 3%;
    font-size: 13px;
}


/* TABELAS */

/* Estrutura */

.tabelas {
    margin-top: 3%;
    margin-left: 0;
    width: 45%;
    align-items: center;
    line-height: 1.5;
    height: 0%;
}

#tabela {
    margin-left: 17%;
    margin-bottom: 7%;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 6px 6px 10px 0 #00000066;
}


/* Elementos */

#titulo_tabela {
    border: 1px solid #000000;
    background-color: #fdff7c;
    padding: 1.1%;
}

#conteudo_tabela_doc {
    border: 1px solid #000000;
    text-align: center;
    padding: 1.3%;
}

#conteudo_tabela_assunto {
    border: 1px solid #000000;
    text-align: justify;
    text-indent: 1.5em;
    padding: 1.3%;
}


/*Links ??? coloco id pra n ficar 30 ,s??*/

#conteudo_tabela_doc a, #conteudo_tabela_assunto a, #link_redirecionamento, #topico_quadrado a {
    text-decoration: none;
    font-weight: bold;
}
#conteudo_tabela_doc a:link, #conteudo_tabela_assunto a:link, #link_redirecionamento:link, #topico_quadrado a:link {
    color: #0086d3;
}
#conteudo_tabela_doc a:visited, #conteudo_tabela_assunto a:visited, #link_redirecionamento:visited, #topico_quadrado a:visited {
    color: #9700d3;
}
#conteudo_tabela_doc a:hover, #conteudo_tabela_assunto a:hover, #link_redirecionamento:hover, #topico_quadrado a:hover {
    color: #014e7a;
}
#conteudo_tabela_doc a:active, #conteudo_tabela_assunto a:active, #link_redirecionamento:active, #topico_quadrado a:active {
    color: #00253a;
}


/* FORMULÁRIOS */

/* Geral */

.form {
    margin-left: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#campo {
    margin-top: 5%;
    padding: 1em;
    justify-content: space-between;
}


/* Campos */

.nome, .endereco, .ocupacao, .login {
    margin-left: 17.5px;
    margin-bottom: 1%;
    margin-top: 1%;
    float: left;
}

legend {
    margin-left: 17.5px;
    border: 1px solid #7c7c7cc7;
    padding: 2px;
}

label {
    margin-right: 10px;
}

.mensagem {
    margin-top: 1%;
}

#mensagem {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 60px;
    padding-right: 530px;
    margin-left: 17.5px;
}

#nome, #sobrenome, #email, #emaild, #emaili, #senha, #atuacao, #profissao {
    padding: 3px;
}

option {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}


/* Botões */

#enviar, #cancelar {
    border: 3px solid #6db3c7;
    background-color: #bee1eb;
    margin-left: 3%;
    justify-content: space-between;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    font-weight: 550;
    margin-bottom: 8%;
}

#enviar:hover {
    background-color: #8cce8c;
    border: 3px solid #349c65;
}

#cancelar:hover {
    background-color: #f79c9c;
    border: 3px solid #a90606;
}


/*-------------------- CONFIGURAÇÕES INDIVIDUAIS --------------------*/


/* PÁG AJUDA - Melissa Turbano */

/* Conteúdo */

.conteudo_ajuda {
    height: 15%;
    margin-top: 3%; 
    align-items: center; 
}


/* Sublinha */

#ajuda_sublinha {
    height: 0.1em;
    width: 43%; /*49%*/
    margin-top: 0;
    margin-left: 6%;
    background-color: #000000;
}


/* Botão redirecionamento */

.ajuda_btn {    
    border: none;
    text-align: center;
    font-size: 130%;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 6%;
    width: 43%;
    height: 40%;
    text-transform: uppercase;   
    background-color: #ececec;
    font-weight: bold;
}

/* Animação */
.ajuda_btn span {
    position: relative;
    transition: 0.5s;
}
.ajuda_btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -7%;
    transition: 0.5s;
}
.ajuda_btn:hover span {
    padding-right: 7%;
}
.ajuda_btn:hover span:after {
    opacity: 1;
    right: 0;
}


/* PÁG HISTÓRICO - Isabella Valerio */

/* Organograma */

.organogramaHistorico {
    margin-top: 3%;
    margin-bottom: 8%;
    margin-left: 22%;
}

#organograma_mpu {
    height: 100%;
    width: 70%;
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 #00000066;
}


/* PÁG INDEX - Isabella Valerio, Melissa Turbano e Nicole Miguel */

/* Imagem */

#img_MPU {
    height: 200px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(0,0,0,0.4);
    align-items: center;
    margin-bottom: 3%;
    margin-left: 25%;
}


/* Caixa de redirecionamento */

.alinhamento_areaCand {
    height: 100px;
    width: 100%;  
    margin: 5%;
}

.alinhamento_areaCand > img {
    border: none;
    width: 20%;
    height: 110px;
    margin: 0;
    float: left;
}

#candidato_bt {
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 0 #18181866;
    height: 100px;
    width: 50%;
    margin: 0;
    font-weight: 700;
    background-color: #ffff7a;
    border: 2px solid #fcfc7e;
    font-size: 18px;
    text-transform: uppercase;
}




