/*Recodificado por Isabella Valerio*/
/* GERAL*/
*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

/* Estilizando a fonte, cor de fundo e definindo posição fixa do header (cabeçalho) */

header {
    background-color: #012229;
    color: #ffffff;
    position: fixed;
    align-items: center;
    width: 100%;
}


/* Posicionando logo */

.logo {
    align-items: center;
    display: flex;
    float: left;
}


/* Configuração da logo */

#logo_letra {
    margin-left: 15px;
    font-size: large;
}

#logo_img {
    width: 42px;
    height: 42px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

#logo_linha {
    margin-top: 22px;
    width: 42px;
    margin-left: -43px;
    border: 2px solid #ffffff;
}

#logo_titulo {
    margin-left: 20px;
    font-size: x-large;
}

.botoes {
    margin: 15px 20px 0 18px;
    display: flex;
    float: right;
}

#help_bt, #faq_bt {
    cursor: pointer;
    border: none;
    background-color: #012229;
    margin-left: 15px;
}

#help_img {
    width: 28px;
    height: 28px;
    margin-top: 5px;
}

#faq_img {
    width: 68px;
    height: 30px;
    margin-top: 2px;
}

#lupa {
    color: #ffffff;
    font-style: italic;
    font-size: 12px;
    border: none;
    background-color: #717171;
    border: 1px solid #d7faff;
    border-radius: 10px;
    width: 198px;
    height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-top: 3px;
    padding: 0;
}

#ok_bt {
    background-color: #508a97;
    border: #508a97;
    color: #000000;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

#ok_bt:hover {
    background: #9fc7cc;
    color: #000000;
}

#lupa_img {
    float: left;
    width: 45px;
    height: 40px;
    margin-left: 15px;
}


/* MENU */

.menu {
    background-color: #a5a4a4;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    width: 100%;
    margin-top: 40px;
    height: 28px;
    align-items: center;
    text-align: center;
    line-height: 28px;
    float: left;
    position: fixed;
}

.menu > ul > li {
    margin-left: 60px;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-size: larger;
    display: block;
    padding: 0 30px 0 15px;
    font-size: 14px;
    font-weight: 500;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a:hover {
    text-decoration: none;
    display: block;
    background-color: #e6e6e6;
    color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.menu ul {
    padding: 0px;
}

.menu ul ul {
    display: none;
    background-color: #508a97;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.menu ul li:hover > ul {
    display: block;
    position: fixed;
}

.menu ul ul li {
    float: none;
}

.menu ul ul li a {
    color: #ffffff;
    font-weight: normal;
}

#subMenu {
    display: flex;
    flex-direction: column;
}

/* ARTICLE */

#MPU_sobre {
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.2;
    font-size: large;
}

#MPU_img {
    height: 180px;
    width: 30%;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 6px 6px 16px 0 rgba(0,0,0,0.4);
    align-items: center;
    margin-left: 33%;
    margin-top: 2%;
}


/* SECTION - CANDIDATO */

.candidatoArea {
    margin-top: 30px;
    text-transform: uppercase;
    margin-left: 0;
    height: 100px;
    width: 40%; 
}

#candidato_titulo {
    margin-left: 20px;
}

#candidato_linha {
    height: 2px;
    width: 50%;
    float: left;
    margin-top: 0px;
}

.concursoRemocao, #candidato_pag {
    margin: 10px;
    margin-top: 60px;
    height: 100px;
    width: 245%;  
}

.concursoRemocao > img, #candidato_pag > img {
    border: none;
    width: 110px;
    height: 110px;
    float: left;
}

#candidato_btn, #concurso_btn {
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 0 #00000066;
    height: 100px;
    width: 35%;
    font-weight: 700;
    background-color: #ffff7a;
    border: 2px solid #fcfc7e;
    font-size: 18px;
    text-transform: uppercase;
    float: left;
}

/* ASIDE - MENU */

.aside-menu {
    margin-left: 65%;
}

.aside-menu ul li {
    /*width: 350px;*/
    width: 62%;
    float: none;
}
        
.aside-menu > ul {
    list-style: none;	
    position: static;
    margin-left: 50px;
}

/* Config de dentro do menu */
.aside-menu ul li {
    float: none;
    align-items: center;
    /*font-size: 18px;*/
}

.aside-menu a {
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: #57919c;
    text-align: center;
    align-items: center;
    color: #fff;    
}

.aside-menu ul ul {
    list-style: none;
    position: absolute;
    visibility: hidden;
}


/* Menu sob o mouse */
.aside-menu ul li:hover ul {
    visibility: visible;
}
        
.aside-menu a:hover {
    background-color: #a5a5a5;
}


/* Submenu */
.aside-menu ul ul li {
    float: none;
    border-bottom: solid 1px #ffffff;
    font-weight: 500px;
    width: 100%;
}

.aside-menu ul ul li a {
    background-color: #bdbaba;
    height: 6%;
    text-align: left;
    text-indent: 2px;
    text-align: center;    
    color: rgb(0, 0, 0)
}
  
.aside-menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
}

.aside-menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    transition: all .4s;
}

/* ASIDE */

.aside {
    margin-left: 65%;
    margin-top: 30px;
}

.aside ul li {
   /*width: 350px;*/
    float: none;
    width: 62%;
}
        
.aside > ul {
    list-style: none;	
    position: static;
    margin-left: 50px;
}

.aside a {
    display: block;
    text-decoration: none;
    background-color: #3f6972;
    text-align: center;
    align-items: center;
    color: #ffffff;
    line-height: 2.0;
}

/*Detalhe do aside*/
.detalhe span {
    position: relative;
    transition: 0.5s;
}

.detalhe span:after {
    content: "\21D2";
    position: absolute;
    opacity: 0;
    top: 0;
    /*right: -5%;*/
    left:100%;
    transition: 0.5s;
    margin-top: -3%;
}

.detalhe:hover span {
    padding-right: 5%;
}

.detalhe:hover span:after {
    opacity: 1;
    right: 0;
}

/* Mouse */ 
.aside ul li:hover {
    visibility: visible;
    background-color: #a6a6a6;
}
.aside a:hover {
    background-color: #a5a5a5;
}

/* Config de dentro do aside */
.aside ul li{
    float: none;
    align-items: center;
}

/* Botão de contato */
#bt_contato {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: #ffffff;
    margin-left: 28%;
    margin-bottom:2%;
    cursor: pointer;
}

#img_contato {
    border-radius: 18%;
    width: 70%;
    height: 65%;    
}

#bt_contato:hover {
    background-color: #fdf8cf;
    border: 2.5px solid #b7ba5a;
}

/*Botão de enviar*/
#bt_enviar {
    border-radius: 25%;
    width: 5%;
    height: 7%;
    background-color: #ffffff;
    margin-left: 3%;
    margin-bottom: 3%;
    cursor: pointer;
}

#img_enviar {
    border-radius: 18%;
    width: 70%;
    height: 65%;
}

#bt_enviar:hover {
    background-color: #e2fcbb;
    border: 2.5px solid #87a061;
}

/* FOOTER */

footer {
    text-align: center;
    color: #d4d4d4;
    background-color: #012229;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    line-height: 20px;
    font-size: 10px;  
}

.footer_linha {
    background-image: linear-gradient(to right, transparent, #9e9e9e, transparent); 
    border: 0;
    height: 1px;
    margin-right: 5%;
    margin-left: 5%;
}
