/*Header.css codado por Nicole Miguel
Header.css revisado por Isabella Valerio*/

html, body {
    height: 100%;
    width: 100%;
}
  
/*estilizando a fonte, cor de fundo e definindo posição fixa do header (cabeçalho)*/
header {
    background-color: rgb(2, 34, 41);
    font-family: 'Rubik', Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 10%;
}

/*css aplicado em uma div para posicioná-la na esquerda*/
#logo {
    align-items: center;
    display: flex;
    float: left;
}

/*configuração da logo*/
#img_logo {
    padding: 8px;
}

/*posicionando uma escrita e a linha que ficam sobre o logo*/
#letra_logo, #linha_logo{
    position: absolute;
    font-weight: 800;
    font-size: 16px;
    margin-left: 13px;
    z-index: 0;
}

#letra_logo {
    margin-top: 10px;
}

#linha_logo {
    margin-top: 25px;
    width: 36px;
    border: 2px solid rgb(255, 255, 255);
}

/*estilizando o título*/
#titulo {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 130%;
    text-transform: uppercase;
}

/*css aplicado em uma div para posicioná-la na direita*/
#buttons {
    align-items: center;
    margin-top: 25px;
    display: flex;
    float: right;
}

/*estilizando os botões help e faq*/
#help, #faq {
    cursor: pointer;
    border: none;
    background-color: rgb(2, 34, 41);
    margin-right: 30px;
    margin-bottom: 50px;
}

/*estilizando o form que contém a caixa de pesquisa, uma imagem de lupa e botão Ok*/
#caixa_pesquisa {
    background-color: rgb(155, 155, 155);
    border: 2px solid rgb(214, 209, 209);
    border-radius: 10px;
    width: 198px;
    height: 25px;
}

/*ajustes na caixa de pesquisa propriamente dita*/
#search {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 12px;
    border: none;
    height: 25px;
    width: 110px;
}

/*estilizando o botão Ok da caixa de pesquisa*/
#btnOk {
    cursor: pointer;
    border: none;
    border-radius: 0 10px 10px 0;
    float: left;
    height: 25px;
    width: 30px;
    font-weight: bold;
    background: none;
    color: rgb(80, 76, 76);
}
  
/*ao passar o mouse sobre o botão Ok, ele muda de cor*/
#btnOk:hover {
    background: rgb(80, 76, 76);
    color: rgb(214, 209, 209);
}
  
/*ajustes na imagem da lupa*/
form img {
    float:left;
    width: 35px;
    height: 25px;
}

#search, #caixa_pesquisa {
    margin-bottom: 15%;
    margin-right: 16px;
}