/*Autoria: Nicole Miguel */
html, body {
    height: 100%;
    width: 100%;
}
  
/*estilizando a fonte, cor de fundo e definindo posição fixa do header (cabeçalho)*/
header {
    background-color: rgb(2, 34, 41);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

/*css aplicado em uma div para posicioná-la na esquerda*/
#logo {
    align-items: center;
    display: flex;
    float: left;
}

/*posicionando uma escrita e a linha que ficam sobre o logo*/
#letra_logo, #linha_logo{
    position: absolute;
    font-weight: 900;
    font-size: 30px;
    margin-left: 20px;
    z-index: 0;
}

#linha_logo {
    margin-top: 60px;
    width: 70px;
    border: 5px solid rgb(255, 255, 255);
}

#titulo {
    margin-left: 30px;
}

/*css aplicado em uma div para posicioná-la na direita*/
#buttons {
    align-items: center;
    margin-top: 25px;
    display: flex;
    float: right;
}

/*estilizando os botões help e faq*/
#help, #faq {
    cursor: pointer;
    border: none;
    background-color: rgb(2, 34, 41);
    margin-right: 30px;
}

/*estilizando o form que contém a caixa de pesquisa, uma imagem de lupa e botão Ok*/
#caixa_pesquisa {
    background-color: rgb(155, 155, 155);
    border: 2px solid rgb(214, 209, 209);
    border-radius: 10px;
    width: 300px;
    height: 32px;
}

/*ajustes na caixa de pesquisa propriamente dita*/
#search {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border:none;
    height:32px;
    width: 193px;
}

/*estilizando o botão Ok da caixa de pesquisa*/
#btnOk {
    cursor: pointer;
    border: none;
    border-radius: 0 10px 10px 0;
    float: left;
    height: 32px;
    width: 50px;
    font-weight: bold;
    background: none;
    color: rgb(80, 76, 76);
}
  
/*ao passar o mouse sobre o botão Ok, ele muda de cor*/
#btnOk:hover {
    background: rgb(80, 76, 76);
    color: rgb(214, 209, 209);
}
  
/*ajustes na imagem da lupa*/
form img {
    float:left;
    width: 50px;
    height: 32px;
}